go_import_path: github.com/defval/inject
language: go
sudo: false

matrix:
  include:
    - go: "1.11"
    - go: "1.12"
  fast_finish: true

env:
  global:
    - GO111MODULE=on

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)

